
</br></br></br>


<div class="container_12">
  <div class="grid_12 alpha omega" >
			<center>
				<div style="height:80px;">
					<div style="position:relative;top:0px;padding-right:10px;">
						<a href ='admin.php' style="background-color: rgba(0,160,176, 0.9); display:inline;font-size:35px; color:#eee; line-height:45px; box-shadow: -10px 0px 0 rgba(0,160,176, 0.9), 10px 0px 0 rgba(0,160,176, 0.9); -webkit-box-shadow: -10px 0px 0 rgba(0,160,176, 0.9), 10px 0px 0 rgba(0,160,176, 0.9); -moz-box-shadow: -10px 0px 0 rgba(0,160,176, 0.9), 10px 0px 0 rgba(0,160,176, 0.9);">
							Administartion
						</a>
						</br>
						<span style="background-color: rgba(0, 0, 0, 0.8); display:inline;font-size:18px; color:#eee; line-height:35px; box-shadow: -10px 0px 0 rgba(0, 0, 0, 0.8), 10px 0px 0 rgba(0, 0, 0, 0.8); -webkit-box-shadow: -10px 0px 0 rgba(0, 0, 0, 0.8), 10px 0px 0 rgba(0, 0, 0, 0.8); -moz-box-shadow: -10px 0px 0 rgba(0, 0, 0, 0.8), 10px 0px 0 rgba(0, 0, 0, 0.8);">
							hello admin
						</span>
					</div>
				</div>
			</center>
  </div>

</div>
<!-- end .container_12 -->

<div class="container_12">
	
		
	
		<div class="grid_6 omega">
			
		<div style="background:#f1f1f1; height:100%;margin-top:25px;">
			<span style="display:block;padding-top:6px;">
				<div  style="background:#dddddd;">
				<div id='status' style='width:50px;'>#</div>
				<div id='detailsTitle' style="text-align:left;">Title</div>
				</div>
				<div id='border'></div>
				<div>
					<div id='status'>
						<span class="fa-stack fa-lg" style="font-size:15px;">
						   <i class="fa fa-cloud" style="color:#111;padding-top:6px;"></i>
						</span>
					</div>

					<div id='detailsTitle' style="text-align:left;width:280">Go Active</div>
	
						
						<div id='editRemove'>
							<a href='../g.php?ID' target='_blank' style='color:#111'>
								<span class="fa-stack fa-lg" style="font-size:15px;">
								  <i class="fa fa-circle fa-stack-2x" style="color:#ddd;"></i>
								  <i class="fa fa-sign-out fa-stack-1x" style="color:#555;"></i>
								</span>
							</a>
							<a href='editGuide.php?id' style='color:#111'>
								<span class="fa-stack fa-lg" style="font-size:15px;">
								  <i class="fa fa-circle fa-stack-2x" style="color:#ddd;"></i>
								  <i class="fa fa-edit fa-stack-1x" style="color:#555;"></i>
								</span>
							</a>
							<a href="#" style='color:#111'>
								<span class="fa-stack fa-lg" style="font-size:15px;">
								  <i class="fa fa-circle fa-stack-2x" style="color:#ddd;"></i>
								  <i class="fa fa-trash-o fa-stack-1x" style="color:#555;"></i>
								</span>
							</a>				
						</div>
					

					<div id='borderLine'></div>
				</div>

			</span>
		</div>  
 </div>

  <div class="grid_2 alpha" style="margin-top:25px;">
		<div id='newArticle' style='margin-top:-25px;'><a href='newGuide.php' style='color:#fafafa;float:none;'>Add <i class="fa fa-plus"></i></a></a></div>
			<div style="background:#f1f1f1; height:100%;">
				<span style="display:block;padding-top:6px;">
					<div  style="background:#dddddd;">
						<div id='status' style="background:#dddddd;">Menu</div>
					</div>
					<div id='border'></div>
				</span>
				
				<div style="background:#f1f1f1; height:262px;">
					<span style="display:block;padding-top:6px;padding-right:6px;">
						<div id='webBarVlues' style='width:125px;'><a href='adminMagazine.php' style='color:#111;display:block;'> Gyms </a></div>
						<div id='webBarVlues' style='width:125px;'><a href='adminGuide.php' style='color:#111'> Products </a></div>
						<div id='webBarVlues' style='width:125px;'><a href='' style='color:#111'> Course </a></div>
					</span>
				</div>
			</div>
  </div> 
 <div class="clear"></div>
 




