
<div class="grid_10 omega">
    <div style="background:#f1f1f1; height:100%;margin-top: -7px;">
        <span style="display:block;padding-top:6px;">
            <div style="background:#dddddd;">
                <div id='status' style='width:50px;'>#</div>
                <div id='detailsTitle' style="text-align:left;">GYM Statistica Page</div>
            </div>
            <div id='border'></div>



            <div style="height: 500px;">

            </div>


        </span>
    </div>
</div>
