<div ng-if="!loading">

</div>

<div style='width:500px;height:350px;background-color: black;background:rgba(0,0,0,0.5);margin-top:100px;text-align: left;'>
        <form name="saveGymForm">
        <div style="display: inline-block;margin-top:20px;color:#dedede;padding-left: 30px;"><b>Gym Name</b>&nbsp;&nbsp;&nbsp;
            <input value="Go Active" style="width: 100px;" >

            </br></br>
            <b>City</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input value="Tel Aviv" style="width: 100px;" >

            </br></br>
            <b>Price</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input value="50$" style="width: 100px;" >

            </br></br>
            <a><b>Go to WEB</b></a>
            <input value="http://www.go-active.co.il/" style="width: 100px;" type="url">

        </div>
        <div id="googleMap" style="width: 200px;height: 200px;float: right;background: red;margin:20px">

        </div>

            <input type="button" value="save gym" ng-click="saveGym()">
        </form>
    </div>


