<center>
    <div style='width:500px;height:350px;background-color: black;background:rgba(0,0,0,0.5);margin-top:100px;;'>
        <form class="form-inline" style="padding-top:30px;" >
            <div class="form-group" style="float:left;display: block;margin-left:20px;color:white;"><b>Gym Name</b>&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter Gym Name" style="width:380px;">
            </div>

            <div class="form-group" style="float:left;margin-top: 20px;margin-left:21px;color:white;"><b>City</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Enter City Name" style="width:380px;">
            </div>

            <div class="form-group" style="float:left;margin-top: 20px;margin-left:21px;color:white;"><b>Price</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="USA$" style="width:100px;">
            </div>
            <button type="submit" class="btn btn-primary" style="width:480px;margin-top: 35px;">Search</button>
        </form>
        </div>
</center>