<div class="main">
    <div class="searchBox">

            <form class="form-inline advancedSearchForm" name='advenceSearch'  ng-submit="searchGym()">
                <div class="form-group advancedSearchInputs">
                    <b>Gym Name</b>   
                    <input ng-model="gymname" type="text" class="form-control" name='gymName' placeholder="Enter Gym Name" style="width:380px;">
                </div>

                <div class="form-group advancedSearchInputs">
                    <b>City</b>                
                    <input ng-model="city" type="text" class="form-control" placeholder="Enter City Name" name='gymCity' style="width:380px;">
                </div>

                <div class="form-group advancedSearchInputs">
                    <b>Price</b>              
                    <input ng-model="price" type="text" class="form-control" name="gymPrice" placeholder="USA$" style="width:100px;">
                </div>

                <input type="submit" value="Search" class="btn btn-primary" style="width:480px;margin-top: 35px;height: 30px;margin-left: 7px;" />

            </form>

</div>

</div>