<center>
    <div ng-repeat="gym in gyms track by $index">
        <div style='width:500px;height:350px;background-color: black;background:rgba(0,0,0,0.5);margin-top:100px;text-align: left;'>

            <label>gym name</label>
            <input ng-model="gym.name" style="display: inline-block;margin-top:20px;color:#dedede;padding-left: 30px;" readonly>
            </br></br>

            <label>City</label>
            <input ng-model="gym.city" style="display: inline-block;margin-top:20px;color:#dedede;padding-left: 30px;" readonly>
            </br></br>

            <label>Price</label>
            <input ng-model="gym.price" style="display: inline-block;margin-top:20px;color:#dedede;padding-left: 30px;" readonly>
            </br></br>
        </div>
    </div>
</center>