<center>
    <div style='width:500px;height:350px;background-color: black;background:rgba(0,0,0,0.5);margin-top:100px;text-align: left;'>
        <div style="display: inline-block;margin-top:20px;color:#dedede;padding-left: 30px;"><b>Gym Name</b>&nbsp;&nbsp;&nbsp;
                Go Active

                </br></br>
                <b>City</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Tel Aviv

                </br></br>
                <b>Price</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                50$
                </br></br>
                <a href="http://www.go-active.co.il/" ><b>Go to WEB</b></a>
        </div>
        <div id="googleMap" style="width: 250px;height: 250px;float: right;background: red;margin:20px">

        </div>
    </div>


</center>